@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    @*<h2 id="title">@ViewBag.Title.</h2>*@
    @*<h3>@ViewBag.Message</h3>*@

    <h2>Контакт</h2>
    <hr/>
    <address>
        ул. Македонија<br />
        1000 Скопје, Македонија<br />
        <abbr title="Phone">Телефон:</abbr>
        071 234 567
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>