@{
    ViewBag.Title = "Home Page";
}

<main>
    <section aria-labelledby="aspnetTitle">
        <div class="row">
            <div id="logo" class="col-3">
                <img src="~/Resources/logo-removebg-preview.png" />
            </div>
            <div class="col-9">
                @*search bar*@
            </div>
        </div>
        <div class="row">
            <div class="col-6" id="lead">
                Трансформирајте го светот на вашето домашно милениче со нашата продавница за миленичиња 
                посветена на обезбедување исклучителна грижа преку спој на креативност и квалитетни производи.
            </div>
        </div>
    </section>
    <br />
    <br />

</main>