@model _5shop.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<main aria-labelledby="title">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Кориснички профил</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Лозинка:</dt>
            <dd>
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Промена на лозинка", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Додади лозинка", "SetPassword")
                }
                
            </dd>
        </dl>
    </div>
</main>